.formCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  width: 400px;
  background: #3b455723;
  border-radius: 16px;
}

.form {
  width: 100%;
}

.label {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.label:focus-within {
  color: #5ac846;
}

.description {
  font-size: small;
  color: grey;
  padding: 0;
  margin: 0 0 3px 0;
}

.input {
  width: 100%;
  padding: 8px;
  color: white;
  font-family: inherit;
  font-size: 16px;
  outline: none;

  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

.input:not(:placeholder-shown):required:valid {
  border-color: green;
}

.input:not(:placeholder-shown):required:invalid {
  border-color: red;
}
.inputError {
  color: red;
}

.ErrorMessage {
  /* font-size: 20px; */
  color: red;
}
